@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.container {
    background-image: url("assets/images/bg.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 644px;
    position: relative;
}

.overlay {
    height: 644px;
    width: 100%;
    opacity: 0.7;
    position: absolute;
    top: 0;
